@import '~bootstrap/scss/bootstrap.scss';
@import "../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
body{
    overflow-x: hidden;
}
#logoPng{
    width: 57px;
    margin: 10px 0px 0px 10px;
}