main{
    padding-bottom: 100px;
    #carouselIndicators{
        width: 70vw;
        height: 477px;
        left: 50%;
        transform: translateX(-50%);
    }
    .unicImg{
        width:50vw;        
        height: 477px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .container{
        >.row{
            width: 100%;
            left: 0px;
            margin-left: 0px;
            padding: 20px;
            >a.col:not(:nth-child(n+3)){
                padding: 0px 10px 0px 0px;
            }
            >a.col{
                min-width: calc(100% / 3);
                max-width: calc(100% / 3);
                height: 500px;                
                margin: 0px;
                padding: 0px;
                >.row{
                    >img{
                        width: 100%;
                        height: calc(100vh / 2);
                    }
                }
            }
        }
    }
    .btn-box{
        width: 327px;
        height: 49px;
        background: rgba(147, 147, 147, 0.38);
        border-radius: 20px;
        align-items: center;
        &:hover{
            cursor: pointer;
            background: rgba(106, 189, 147, 0.38);
            a{                
                color: #61b2ca;
            }
            i::before{
                color:#61b2ca;
            }
        }
        i{            
            height: fit-content;
        }
        a{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 25px;
            color: #000000;
            text-decoration: none !important;
            height: fit-content;
        }
    }
    .animal-box{
        min-height: 100px;
        flex-direction: column;
        .animal,.events{
            height: 133px;
            background: #D9D9D9;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
            
            &:not(:last-child){
                margin-bottom: 50px;
            }
            table{
                width: 100%;
                height: inherit;
                display: grid;
                thead{
                    display: flex;
                    width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                    }
                }
                tbody{
                    display: flex;
                    width: 100%; 
                    tr{
                        width: 100%;
                        display: flex;
                        justify-content: center;                        
                        align-items: start;
                        .download{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 258px;
                            height: 35px;
                            background: rgba(238, 202, 76, 0.29);
                            border: 1px solid rgba(185, 183, 183, 0.27);
                            border-radius: 10px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 25px;
                            color: #2C582B;
                            text-decoration: none !important;
                            
                            &:hover{                                
                                background: rgba(56, 184, 18, 0.29);
                                color: #138611;
                            }
                        }
                    }                   
                }
            }
        }
        .events{
            overflow: unset !important;
            height: auto;
            .accordion-button:not(.collapsed),.accordion-button:active, .accordion-button:focus{
                border: none !important;
                background-color: #aae3be;
                box-shadow: none !important;
                color: #1c6141;
            }
            .accordion-collapse.collapse.show{
                visibility: visible !important;
            }
            .accordion-button{
                div{
                    &:nth-child(1){
                        width: 10%;
                    }
                    &:nth-child(2){width: 10%;}
                    &:nth-child(3){width: 70%;}
                    &:nth-child(4){width: 10%;}
                }
            }
        }
        
    }
}